@font-face {
    font-family: 'AGaramondPro-Regular';
    src: url('../font/adobe-garamond-pro/AGaramondPro-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 !important;
    padding: 0px !important;
}

.container-custom {
    width: 100%;
    padding: 0px 150px 0px 150px;
}
button.btn-custom {
    background: #F4F4F0;
    padding: 18px;
    font-size: 15px;
    border-radius: ;
}

/*debut carousel */
.carousel-custom{
    margin: 0;
    padding: 0;
}
.carousel-custom .carousel-indicators-custom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    padding: 0px 150px 0px 150px;
}
.carousel-custom .carousel-indicators-custom li.indicator-custom {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #868686;
    margin: 0px 15px;
}
.carousel-custom .carousel-indicators-custom li.active {
    background: #868686 !important;
}
.carousel-custom .carousel-inner .carousel-item .carousel-content {
    position: absolute;
    right: 0;
    bottom: 118px;
}
.carousel-custom .carousel-inner .carousel-item .carousel-content h3 {
    font-size: 80px;
    color: #c0676d;
}
/*fin carousel*/

/* debut section pierre */
#section-pierre {
    padding-top: 69px;
}
.pierre-header {
    margin-bottom: 62px;
}
.pierre-header h2::after {
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #000;
    margin: 14px auto;
}
.pierre-header h2 {
    font-size: 48px;
    line-height: 52px;
}
.pierre-header p {
    width: 33%;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
}
.card-custom .card-img {
    position: relative;
}
.card-custom .card-custom-content {
    padding: 24px;
    display: flex;
    justify-content: center;
    margin-top:12px;
    height: 80px;
}
.card-custom .card-custom-content p {
    font-size: 12px;
}
.card-custom .card-custom-content p::before{
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #000;
    margin: auto;
    margin-bottom: 8px;
}
.card-custom:hover .card-custom-content p::before{
    display: none;
}
.card-custom .card-img img.front {
    display: block;
}
.card-custom .card-img img.back {
    display: none;
}
.card-custom:hover .card-img img.front{
    display: none;
}
.card-custom:hover .card-img img.back {
    display: block;
}
.card-custom .card-custom-content span , .card-custom .card-custom-content .actions{
    display: none;
}
.card-custom:hover .card-custom-content span , .card-custom:hover .card-custom-content .actions{
    display: block;
    font-size:12px;
}
.card-custom:hover .card-custom-content {
    justify-content: space-between;
}
.card-custom:hover .card-custom-content .actions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-custom:hover .card-custom-content .actions a{
    font-size:12px;

}
/* fin section pierre */

/* debut collection */
.collection-item {
    height: 100%;
}
.collection-item img{
    width: 100%;
}
.collection-item .collection-content h4 {
    font-size: 48px;
    line-height:40px;
}
.collection-item .collection-content p {
    font-size: 20px;
    line-height:30px;
}
.collection-item .collection-content button.btn-custom {
    margin-top: 33px;
}
.collection-item .collection-content {
    padding: 45px;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.collection-item .collection-content.data-right {
    align-items: flex-end;
    right: 0;
    color: white;
}
.collection-item .collection-content.data-left {
    align-items: flex-start;
    left: 0;
    color: #cfa390;
}
.collection-item .collection-content.data-left {
    align-items: flex-start;
    left: 0;
    color: #cfa390;
}
.collection-item .collection-content.data-left .btn-custom {
    background: #cfa390;
    color: #fff;
}
.collection-item .collection-content.data-right .btn-custom {
    background: e1d8ce;
    color: #000;
}
/* fin collection */

/*responsive*/
/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    .section-header-custom .paragraphe-custom {
        width: 80%;
    }
    .collection-item .collection-content {
        padding: 25px;
    }
    .collection-item .collection-content h4 {
        font-size: 30px;
        line-height:40px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    .section-header-custom .paragraphe-custom {
        width: 80%;
    }
    .carousel-custom .carousel-inner .carousel-item .carousel-content {
        bottom: 60px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px){
    .container-custom {
        width: 100%;
        padding: 0px 50px 0px 50px;
    }
    .carousel-custom .carousel-indicators-custom {
        padding: 0px 50px 0px 50px;
    }
    .carousel-custom .carousel-indicators-custom li.indicator-custom {
        margin: 0px 10px;
    }
    .carousel-custom .carousel-inner .carousel-item .carousel-content {
        bottom: 50px;
    }
    .carousel-custom .carousel-inner .carousel-item .carousel-content h3 {
        font-size: 50px;
        color: #c0676d;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .container-custom {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    .carousel-custom .carousel-indicators-custom li.indicator-custom {
        margin: 0px 7px;
    }
    .carousel-custom .carousel-indicators-custom {
        padding: 0px 10px 0px 10px;
    }
    .carousel-custom .carousel-inner .carousel-item .carousel-content {
        bottom: 50px;
    }
}
